.c-back-button {
  width: max-content;
  padding: 4px 32.63px;
  background-color: $clr-neutral-light;
  border-radius: 2px;
  box-shadow: 0 0 7px rgb(0 0 0 / 0.1);

  line-height: 200%;
  font-weight: 300;

  display: inline-flex;
  align-items: center;
  gap: 8px;
}
