.c-border-country {
  padding: 6px;
  margin: 0 8px 8px;
  display: inline-block;
  min-width: 96px;
  background-color: $clr-neutral-light;
  border-radius: 2px;
  box-shadow: 0 0 4px rgb(0 0 0 / 0.1);

  text-align: center;
  font-size: 12px;
  line-height: 135%;
  font-weight: 300;

  @media (min-width: 768px) {
    padding-block: 0;
    font-size: 14px;
    line-height: 225%;
  }
}
