.c-card {
  display: inline-block;
  width: 264px;
  background-color: $clr-neutral-light;
  box-shadow: 0 0 7px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  overflow: hidden;

  &__flag {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  &__content {
    padding: 22px 0 48px 24px;
  }

  &__name {
    font-size: 18px;
    font-weight: 800;
    line-height: 145%;
  }

  &__info {
    margin-top: 16px;
    display: grid;
    gap: 8px;

    &-item {
      font-size: 14px;
    }

    span {
      font-weight: 300;
    }
  }
}
