.s-home {
  margin-top: 32px;
  display: grid;
  justify-items: center;
  gap: 40px;

  @media (min-width: 692px) {
    margin-top: 48px;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1320px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
