.s-single {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media (min-width: 768px) {
    gap: 56px;
  }

  @media (min-width: 992px) {
    padding-block: 80px;
    gap: 80px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (min-width: 768px) {
      gap: 56px;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      gap: 120px;
    }
  }

  &__flag {
    border-radius: 10px;
    height: auto;
    aspect-ratio: 16 / 10;
    object-fit: cover;

    @media (min-width: 992px) {
      max-width: 560px;
      height: 401px;
    }
  }

  &__content {
    width: 100%;
  }

  &__info {
    margin-block: 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 768px) {
      margin-block: 24px;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 992px) {
      margin-block: 24px 64px;
      flex-direction: column;
    }

    @media (min-width: 1220px) {
      margin-block: 24px 64px;
      flex-direction: row;
    }

    p {
      line-height: 200%;
    }

    p span {
      font-weight: 300;
    }
  }

  &__border-countries {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    div {
      @media (min-width: 768px) {
        display: contents;
      }
    }
  }
}
