.text-preset-1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 137.5%;
}

.text-preset-2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 137.5%;
}

.text-preset-3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 145%;
}

.text-preset-4 {
  font-size: 16px;
  line-height: 200%;
}

.text-preset-5 {
  font-size: 16px;
  line-height: 145%;
}

.text-preset-6 {
  font-size: 12px;
  line-height: 135%;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}
