$font-family: 'Nunito Sans', sans-serif;

$clr-neutral-white: #fff;
$clr-neutral-black: #000;
$clr-neutral-50: #fcfcfc;
$clr-neutral-250: #c4c4c4;
$clr-neutral-300: #b2b2b2;
$clr-neutral-350: #979797;
$clr-neutral-400: #808080;
$clr-neutral-950: #111517;

$clr-primary-950: #202c36;
$clr-primary-900: #2b3844;
