:root {
  --clr-neutral-light: #fff;
  --clr-neutral-dark: #000;
  --clr-neutral-50: #fcfcfc;
  --clr-neutral-250: #c4c4c4;
  --clr-neutral-300: #b2b2b2;
  --clr-neutral-350: #979797;
  --clr-neutral-400: #808080;
  --clr-neutral-950: #111517;

  --clr-primary-900: #2b3844;
  --clr-primary-950: #202c36;

  --font-family: 'Nunito Sans', sans-serif;
}

body[data-dark-theme='true'] {
  --clr-neutral-light: #2b3844;
  --clr-neutral-dark: #fff;
  --clr-neutral-50: #202c36;
  --clr-neutral-250: #fff;
  --clr-neutral-300: #fff;
  --clr-neutral-350: #fff;
  --clr-neutral-400: #c4c4c4;
  --clr-neutral-950: #fff;

  --clr-primary-900: #2b3844;
  --clr-primary-950: #202c36;
}

$font-family: 'Nunito Sans', sans-serif;

$clr-neutral-light: var(--clr-neutral-light);
$clr-neutral-dark: var(--clr-neutral-dark);
$clr-neutral-50: var(--clr-neutral-50);
$clr-neutral-250: var(--clr-neutral-250);
$clr-neutral-300: var(--clr-neutral-300);
$clr-neutral-350: var(--clr-neutral-350);
$clr-neutral-400: var(--clr-neutral-400);
$clr-neutral-950: var(--clr-neutral-950);

$clr-primary-950: var(--clr-primary-950);
$clr-primary-900: var(--clr-primary-900);

$font-family: var(--font-family);
