:root {
  --clr-primary-500: #5a698f;
  --clr-primary-900: #161d2f;
  --clr-primary-950: #10141e;

  --clr-secondary-500: #fc4747;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;

  --font-family: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.25;

  font-family: var(--font-family);
  font-weight: 500;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video,
iframe {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
