/* Variables */
:root {
  --clr-primary-500: #5a698f;
  --clr-primary-900: #161d2f;
  --clr-primary-950: #10141e;

  --clr-secondary-500: #fc4747;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;

  --font-family: 'Outfit', sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.25;

  font-family: var(--font-family);
  font-weight: 500;

  background-color: var(--clr-primary-950);
  color: var(--clr-neutral-100);
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video,
iframe {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#root {
  max-width: 1440px;
  margin-inline: auto;
}

.main {
  padding-bottom: 13px;
}

@media (min-width: 768px) {
  .main {
    padding-bottom: 34px;
  }
}

@media (min-width: 1080px) {
  #root {
    display: flex;
  }

  .main {
    padding-block: 64px 69px;
    flex: 0 1 100%;
    overflow: hidden;
  }
}

/* Header */
.header {
  padding: 16px;
  background-color: var(--clr-primary-900);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-logo {
  height: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-item:hover img,
.header-nav-item:focus img {
  filter: brightness(0) saturate(100%) invert(38%) sepia(72%) saturate(2450%) hue-rotate(338deg) brightness(104%)
    contrast(96%);
}

.header-nav-item.active img {
  filter: brightness(10);
}

.header-nav-item img {
  height: 16px;
}

.header-avatar {
  width: 24px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 1px solid var(--clr-neutral-100);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    margin: 24px;
    margin-bottom: 32px;
    border-radius: 10px;
  }

  .header-logo {
    width: 32px;
    height: auto;
  }

  .header-nav-item img {
    height: 20px;
  }

  .header-avatar {
    width: 32px;
  }
}

@media (min-width: 1080px) {
  .header {
    padding: 33px 28px;
    margin: 32px;
    margin-right: 36px;

    flex-direction: column;
    justify-content: flex-start;
    gap: 72px;

    height: calc(100vh - 64px);
    position: sticky;
    top: 32px;
  }

  .header-nav {
    flex-direction: column;
    gap: 40px;
  }

  .header-avatar {
    width: 40px;
    margin-top: auto;
  }
}

/* Preview Cards */
.card {
  position: relative;
  list-style: none;
}

.card.trending {
  width: 240px;
  flex-shrink: 0;
}

.card.trending .card-header {
  width: 100%;
  padding: 14px 16px;
  background-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 0.75));
  border-radius: 0 0 8px 8px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.card.trending .card-header-info,
.card.trending .card-header-info span {
  font-size: 12px;
}

.card.trending .card-header-title {
  font-size: 15px;
}

.card.trending .card-image {
  height: 140px;
}

.card-image {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
}

.card-bookmark {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  background-color: rgb(16 20 30 / 0.5);
  border-radius: 100%;

  position: absolute;
  top: 8px;
  right: 8px;
}

.card-bookmark:hover,
.card-bookmark:focus {
  background-color: var(--clr-neutral-100);
}

.card-bookmark:hover > img,
.card-bookmark:focus > img {
  mix-blend-mode: difference;
}

.card-header {
  margin-top: 8px;
  display: grid;
  gap: 8px;
}

.card-header-info,
.card-header-info span {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 11px;
  font-weight: 300;
  color: rgb(256 256 256 / 0.75);
}

.card-header-title {
  font-size: 14px;
  font-weight: 500;
}

.card-image-container {
  position: relative;
}

.card:hover .card-image-container::before,
.card:hover .card-play {
  display: inline-flex;
}

.card-image-container::before {
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.card-play {
  padding: 9px 27px 9px 9px;
  background-color: rgb(256 256 256 / 0.25);
  border-radius: 1000vw;

  color: var(--clr-neutral-100);

  display: none;
  align-items: center;
  gap: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

@media (min-width: 768px) {
  .card.trending {
    width: 470px;
  }

  .card-bookmark {
    top: 16px;
    right: 16px;
  }

  .card.trending .card-header {
    padding: 21.5px 24px;
  }

  .card.trending .card-image {
    height: 230px;
  }

  .card.trending .card-header-info,
  .card.trending .card-header-info span {
    font-size: 15px;
  }

  .card.trending .card-header-title {
    font-size: 24px;
  }

  .card-header-info,
  .card-header-info span {
    font-size: 13px;
  }

  .card-header-title {
    font-size: 18px;
  }

  .card-image {
    height: 140px;
  }
}

@media (min-width: 1080px) {
  .card-image {
    height: 174px;
  }
}

/* Results */
.results {
  margin-top: 24px;
  padding-inline: 16px;
}

.results.trending {
  padding-inline: 16px 0;
}

.results.trending .results-header {
  margin-bottom: 16px;
}

.results-header {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 300;
}

.results-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 15px;
}

.results-list.slider {
  display: flex;
  overflow: auto;
}

@media (min-width: 768px) {
  .results {
    margin-top: 32px;
    padding-inline: 24px;
  }

  .results.trending {
    padding-inline: 24px 0;
  }

  .results.trending .results-header {
    margin-bottom: 24px;
  }

  .results-header {
    font-size: 32px;
  }

  .results-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 30px;
  }

  .results-list.slider {
    gap: 40px;
  }
}

@media (min-width: 1080px) {
  .results {
    margin-top: 40px;
    padding-inline: 0 36px;
  }

  .results.trending {
    padding-inline: 0;
  }

  .results-header {
    margin-bottom: 32px;
  }

  .results-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 40px;
  }
}

/* Search */
.search {
  margin-top: 24px;
  width: 100%;
  padding-inline: 16px;

  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: 0;

  font-size: 16px;
  font-weight: 300;
  color: var(--clr-neutral-100);
}

.search-input::placeholder {
  color: var(--clr-neutral-100);
  opacity: 50%;
}

.search-wrap {
  width: 100%;
  position: relative;
}

.search-wrap::after {
  display: none;
  content: '';
  position: absolute;
  left: -8px;
  bottom: -10px;
  width: calc(100% + 16px);
  height: 1px;
  background-color: var(--clr-primary-500);
}

.search-input:focus {
  outline: 0;
}

.search-wrap:has(.search-input:focus)::after {
  display: block;
}

@media (min-width: 768px) {
  .search {
    margin-top: 0;
    padding-inline: 24px;
    gap: 24px;
  }

  .search-icon {
    width: 32px;
    height: 32px;
  }

  .search-input {
    font-size: 24px;
  }
}

@media (min-width: 1080px) {
  .search {
    padding-inline: 0 36px;
    gap: 32px;
  }
}
