/* Variables */
:root {
  --clr-primary-500: #5a698f;
  --clr-primary-900: #161d2f;
  --clr-primary-950: #10141e;

  --clr-secondary-500: #fc4747;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;

  --font-family: 'Outfit', sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.25;

  font-family: var(--font-family);
  font-weight: 500;

  background-color: var(--clr-primary-950);
  color: var(--clr-neutral-100);
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video,
iframe {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#root {
  max-width: 1440px;
  margin-inline: auto;
}

@media (min-width: 1080px) {
  #root {
    display: flex;
  }
}

/* Header */
.header {
  padding: 16px;
  background-color: var(--clr-primary-900);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-item:hover img,
.header-nav-item:focus img {
  filter: brightness(1.5);
}

.header-nav-item.active img {
  filter: brightness(10);
}

.header-nav-item img {
  height: 16px;
}

.header-avatar {
  width: 24px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 1px solid var(--clr-neutral-100);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    margin: 24px;
    margin-bottom: 32px;
    border-radius: 10px;
  }

  .header-logo {
    width: 32px;
    height: auto;
  }

  .header-nav-item img {
    height: 20px;
  }

  .header-avatar {
    width: 32px;
  }
}

@media (min-width: 1080px) {
  .header {
    padding: 33px 28px;
    margin: 32px;
    margin-right: 36px;

    flex-direction: column;
    justify-content: flex-start;
    gap: 72px;

    height: calc(100vh - 64px);
    position: sticky;
    top: 32px;
  }

  .header-nav {
    flex-direction: column;
  }

  .header-avatar {
    width: 40px;
    margin-top: auto;
  }
}

/* Preview Cards */
.card {
  position: relative;
  list-style: none;
}

.card-bookmark {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  background-color: rgb(16 20 30 / 0.5);
  border-radius: 100%;

  position: absolute;
  top: 16px;
  right: 16px;
}

.card-header {
  margin-top: 8px;
  display: grid;
  gap: 8px;
}

.card-header-info,
.card-header-info span {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 11px;
  opacity: 75%;
}

.card-header-title {
  font-size: 14px;
}

@media (min-width: 768px) {
  .card-header-info,
  .card-header-info span {
    font-size: 13px;
  }

  .card-header-title {
    font-size: 18px;
  }
}
